{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>All Jobs</title>
  <link href="{% static 'designer/CSS/my_jobs.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <div class="fixed-header">
    <img src="{% static 'designer/Figures/clearview-white-logo.png' %}" class="header-image" />
  </div>

  <div class="page-content">
    <h2 style="color: white; text-align: center;">All Jobs</h2>

    <div class="container">
        {% if projects %}
            {% for project in projects %}

                <div class="job-card">
                    <div class="left-side">
                        <div class="project-id">Order Number: {{ project.order_number }}</div>                   
                        <div class="job-info">
                            Customer Email: {{ project.customer.email }}<br>
                            {% if project.employees.all %}
                               Sales Rep: {{ project.employees.all.0.first_name }} {{ project.employees.all.0.last_name }}
                            {% else %}
                               Sales Rep: None
                            {% endif %}
                        </div>
                    </div>
                    <div class="job-actions">
                        <button class="square-btn small" onclick='getPreviews(`{{ project.project_id }}`)'>Open Project</button>
                        <a href="{% url 'progressbar' project.order_number %}" class="square-btn small">View Progress</a>
                    </div>
                </div>
                          
            {% endfor %}
        {% else %}
            <p style="color: white; text-align: center;">No jobs available.</p>
        {% endif %}
    </div>
  </div>

  <div id="previews-list" class="previews-popup" style="display: none;">
    <div class="list-content">
      <span class="close-btn" onclick="closePreviews()">&times;</span>
      <div id="list-text">Loading...</div>
    </div>
  </div>

  <script>
    const list = document.getElementById("previews-list");
    const text = document.getElementById("list-text")

    function getPreviews(project_id) {
      fetch(`/get-previews/${project_id}/`)
        .then(response => response.json())
        .then(previews => showPreviews(previews))
        .catch(error => {
          console.error('Error fetching previews:', error);
          text.innerHTML = "<p>Failed to load previews</p>";
          list.style.display = "block";
        });
    }

    function showPreviews(previews) {
      if(previews.length === 0){
        text.innerHTML = "<p>No previews found</p>";
      }else{
        text.innerHTML = "<ul>" + previews.map(p =>
          `<li>Preview ID: ${p.preview_id} | Date: ${p.save_date} | Final: ${p.final ? "Yes" : "No"}
            <button class="open-preview-btn" onclick="loadPreview(${p.preview_id})">Open</button>
            </li>`).join('') + "</ul>";
      }

      list.style.display = "flex";
    }

    function closePreviews() {
      list.style.display = "none";
    }

    function loadPreview(previewId) {
      window.location.href = `/load-project/${previewId}/`;
    }
  </script>
</body>
</html>
