{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Designer</title>
    <link href="{% static 'designer/CSS/windowMain.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'menu' %}">
            <img src="{% static 'designer/Figures/clearview-white-logo.png' %}" class="navbar-logo">
        </a>        
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="window-list"></div>
            <div class="fixed-bottom">
              <button id="upload-btn" class="upload-file-btn">Upload Image</button>
              <input type="file" id="input-file" accept="image/*" hidden>
              <button class="clear-selection-btn" id="clear-selection-btn">Clear All Windows</button>
              <button class="save-project-btn" id="save-project-btn">Save Project</button>
          </div>
        </div>
        <div class="content">
            <canvas id="canvas"></canvas>
        </div>
    </div>
<script src="{% static 'designer/JS/upload.js' %}"></script>
</body>
</html>