{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Window Designer</title>
    <link href="{% static 'designer/CSS/windowMain.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'menu' %}">
            <img src="{% static 'designer/Figures/clearview-white-logo.png' %}" class="navbar-logo">
        </a>        
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="window-list"></div>
            <div class="fixed-bottom">
                <button id="upload-btn" class="upload-file-btn">Upload Image</button>
                <input type="file" id="input-file" accept="image/*" hidden>
                <!-- {% if opening_project %}
                    <button id="load-btn" class="upload-file-btn">Load Preview</button>
                {% endif %} -->
                <button class="clear-selection-btn" id="clear-selection-btn">Clear All Windows</button>
                <button class="save-project-btn" id="save-project-btn">Save Project</button>
          </div>
        </div>
        <div class="content">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div id="popup" class="popup-overlay hidden">
        <div class="popup-content">
            <span id="popup-close" class="popup-close">&times;</span>
            <h3>Select a Frame Style</h3>
    
            <!-- This is where we'll inject frame options dynamically -->
            <div id="frame-options" class="frame-options" style="max-height: 400px; overflow-y: auto;">
                <!-- Frames will be inserted here by JavaScript -->
            </div>
        </div>
    </div>
    <!-- <div id="load-popup" class="popup-overlay hidden">
        <div class="popup-content">
            <span id="load-popup-close" class="popup-close">&times;</span>
            <h3>Load From</h3>
            <div class="popup-buttons">
                <button id="load-project-image-btn" class="popup-choice-btn">Image</button>
                <button id="load-preview-btn" class="popup-choice-btn">Preview</button>
            </div>
    
             This is where the images will be inserted 
            <div id="image-options" class="image-options" style="display: none;">
                 Images will be dynamically added here 
            </div>
        </div>
    </div> -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="{% static 'designer/JS/upload.js' %}"></script>
</body>
</html>