body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background: linear-gradient(to bottom right, #0000ff, #0066ff, #0000ff);
    text-align: center;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar h1 {
    text-align: center;
    color: #fff;
}
.container {
    display: flex;
    height: 90vh;
}
.sidebar {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.sidebar::after { /* Vertical line on the right side of the sidebar */
    content: "";
    position: absolute;
    top: 10px;   
    bottom: 10px;
    right: 0;
    width: 2px;
    background-color: #0000ff;
}
.fixed-bottom { /* Fixed area for buttons at the bottom of the sidebar */
    position: relative;
    bottom: 20px;
    width: 100%;
}
.window-list { /* List of windows in the sidebar */
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100% - 150px);
    background-color: rgba(211, 211, 211, 0.5);
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #dddddd;
    margin-bottom: 20px;
}
.window {
    background: linear-gradient(to bottom right, #0000ff, #0066ff, #0000ff);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 255);
}
.window:hover .add-btn {
    box-shadow: 0 0 10px blue;
    transition: box-shadow 0.3s ease;
}
.add-btn {
    background: #ffffff;
    color: #0000ff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.clear-selection-btn {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom right, #0000ff, #0066ff, #0000ff);
    color: #fff;
}
.clear-selection-btn:hover {
    box-shadow: 0 0 10px blue;
    transition: box-shadow 0.3s ease;
}
.upload-file-btn {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom right, #0000ff, #0066ff, #0000ff);
    color: #fff;
}
.upload-file-btn:hover {
    box-shadow: 0 0 10px blue;
    transition: box-shadow 0.3s ease;
}
.save-project-btn {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom right, #0000ff, #0066ff, #0000ff);
    color: #fff;
}
.save-project-btn:hover {
    box-shadow: 0 0 10px blue;
    transition: box-shadow 0.3s ease;
}
.content {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-container {
    width: 200vw;             /* Scales with the viewport */
    max-width: 1000px;        /* Maximum width */
    margin: 40px auto;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.upload-container::before {
    content: "";
    display: block;
    padding-top: 56.25%;     /* 16:9 aspect ratio (adjust if needed) */
}